doctype html
html
	head
		title Index Page
	body
		// comment
		h1 #{name} .. !
		h2= description
		hr
		- for(var i = 0; i < 10; i++) {
			p
			a(href="http://dry8r3ad.com") wow woww #{i}

			-}

		// oh my god!!
		#header
			h1 Hello Jade!
			h2 the fuck
		hr
		.article
			a(href="http://pentasecurity.com") go to penta
